  .hero-caption-overlay {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 10;
    text-align: left;
    max-width: 600px;
    padding: 20px;
    color: #000; /* Black text */
  }

  /* Heading and paragraph styling */
  .hero-caption-overlay h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
  }

  .hero-caption-overlay p {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #333;
  }

  /* Carousel indicators */
  .carousel-indicators [data-bs-target] {
    background-color: #000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .hero-caption-overlay {
      left: 5%;
      right: 5%;
      max-width: 60%;
    }

    .hero-caption-overlay h1 {
      font-size: 1rem;
    }

    .hero-caption-overlay p {
      font-size: .8rem;
    }
    
  }