.cd-words-wrapper {
  position: relative;
  display: inline-block;
}

.cd-words-wrapper b {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.cd-words-wrapper b.is-visible {
  position: relative;
  opacity: 1;
}

.cd-words-wrapper b.is-hidden {
  opacity: 0;
}
.cd-words-wrapper{
    width: 190px;
}

#why{
  background-image: url('/src/assets/images/');
}