<div class="service-container">
  <div class="service-parent">
    <div class="service-card">
      <div style="display: flex; flex-direction: column; gap: 14px">
        <div class="icon">
          <img src="assets/images/icons/cloud.png" alt="Big Data Icon" />
        </div>
        <p class="title">Cloud Infrastructure Consulting</p>
        <p class="description">
          For your business needs for short- or long-term projects, Sysnut
          Technologies provides a wide range of the newest laptops
        </p>
      </div>

      <div
        style="
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 12px;
        "
      >
        <div class="">
          <a class="explore" href="/cloud-infrastructure">Read More</a>
        </div>
        <i style="height: 14px" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="back-box back-box-yellow"></div>
  </div>
  <div class="service-parent">
    <div class="service-card">
      <div style="display: flex; flex-direction: column; gap: 14px">
        <div class="icon">
          <img src="assets/images/icons/disaster.png" alt="Big Data Icon" />
        </div>
        <p class="title">Disaster Recovery & Business Continuity</p>
        <p class="description">
          Annual Maintenance Contract: We offer comprehensive IT Hardware
          support for Servers, storage, and networking device for small and
          medium size companies.
        </p>
      </div>
      <div
        style="
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 12px;
        "
      >
        <div class="">
          <a class="explore" href="/disaster-recovery">Read More</a>
        </div>
        <i style="height: 14px" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="back-box back-box-red"></div>
  </div>
  <div class="service-parent">
    <div class="service-card">
      <div style="display: flex; flex-direction: column; gap: 14px">
        <div class="icon">
          <img src="assets/images/icons/lan.png" alt="Big Data Icon" />
        </div>
        <p class="title">Network Design & Optimization</p>
        <p class="description">
          Our professional IT Networking solution is available for routing,
          switching, wireless, LAN, VPN security, access points.
        </p>
      </div>
      <div
        style="
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 12px;
        "
      >
        <div class="">
          <a class="explore" href="/network-design-optimization">Read More</a>
        </div>
        <i style="height: 14px" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="back-box back-box-cyan"></div>
  </div>
  <div class="service-parent">
    <div class="service-card">
      <div style="display: flex; flex-direction: column; gap: 14px">
        <div class="icon">
          <img
            src="assets/images/icons/storage_server.png"
            alt="Big Data Icon"
          />
        </div>
        <p class="title">Server & Storage Solutions</p>
        <p class="description">
          The market is filled with different IT services. But while each of
          them provides a unique or niche service, we provide clients with
          suitable engineers.
        </p>
      </div>
      <div
        style="
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 12px;
        "
      >
        <div class="">
          <a class="explore" href="/server-storage-solutions">Read More</a>
        </div>
        <i style="height: 14px" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="back-box back-box-green"></div>
  </div>
  <div class="service-parent">
    <div class="service-card">
      <div style="display: flex; flex-direction: column; gap: 14px">
        <div class="icon">
          <img src="assets/images/icons/end_user.png" alt="Big Data Icon" />
        </div>
        <p class="title">End-User Computing & Support</p>
        <p class="description">
          Network security: keep track of network activity, spot potentially
          harmful traffic, and give your company the tools to block, filter, or
          otherwise lessen risks.
        </p>
      </div>
      <div
        style="
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 12px;
        "
      >
        <div class="">
          <a class="explore" href="/end-user-computing-support">Read More</a>
        </div>
        <i style="height: 14px" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="back-box back-box-green"></div>
  </div>
  <div class="service-parent">
    <div class="service-card">
      <div style="display: flex; flex-direction: column; gap: 14px">
        <div class="icon">
          <img
            src="assets/images/icons/hardware_software.png"
            alt="Big Data Icon"
          />
        </div>
        <p class="title">Hardware & Software Procurement</p>
        <p class="description">
          Commercial rental laptops for office works, Startups, trade
          exhibitions, conferences, long-term or short-term contract periods
          available.
        </p>
      </div>
      <div
        style="
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 12px;
        "
      >
        <div class="">
          <a class="explore" href="/hardware-software-procurement">Read More</a>
        </div>
        <i style="height: 14px" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="back-box back-box-cyan"></div>
  </div>
  <div class="service-parent">
    <div class="service-card">
      <div style="display: flex; flex-direction: column; gap: 14px">
        <div class="icon">
          <img src="assets/images/icons/web.png" alt="Big Data Icon" />
        </div>
        <p class="title">Web Development</p>
        <p class="description">
          Commercial rental laptops for office works, Startups, trade
          exhibitions, conferences, long-term or short-term contract periods
          available.
        </p>
      </div>
      <div
        style="
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 12px;
        "
      >
        <div class="">
          <a class="explore" href="/web-development">Read More</a>
        </div>
        <i style="height: 14px" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="back-box back-box-red"></div>
  </div>
  <div class="service-parent">
    <div class="service-card">
      <div style="display: flex; flex-direction: column; gap: 14px">
        <div class="icon">
          <img src="assets/images/icons/buisness.png" alt="Big Data Icon" />
        </div>
        <p class="title">Business Automation</p>
        <p class="description">
          Commercial rental laptops for office works, Startups, trade
          exhibitions, conferences, long-term or short-term contract periods
          available.
        </p>
      </div>
      <div
        style="
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 12px;
        "
      >
        <div class="">
          <a class="explore" href="/business-automation">Read More</a>
        </div>
        <i style="height: 14px" class="fa-solid fa-angle-right"></i>
      </div>
    </div>
    <div class="back-box back-box-yellow"></div>
  </div>
</div>
