<section class="container">
  <div class="left">
    <div class="top-image-box">
      <img
        src="assets\images\hero\support-banner.png"
        alt="Tech Expert"
        class="main-image"
      />
    </div>
  </div>

  <div class="right">
    <span class="subtitleheading">✦ Who we are</span>
    <h1 class="title">
      Empowering Your Business<br />
      With <span class="highlight">Sysnut</span> IT Solutions
    </h1>
    <p class="desc">
      We provide solutions to all IT related problems, ranging from laptop,
      desktop, servers, network switchs and printer repairs & software
      installation. We also offer on-site IT support and specialised services
      such as computer upgrades and data recovery, laptops rentals. As an IT
      partner, we provide a range of services to help you find the best
      solutions that meet your needs today and tomorrow.
    </p>

    <div class="features">
      <div class="feature">
        <img
          style="height: 50px; width: auto"
          src="assets\images\icons\safe.png"
        />
        <p style="color: #444444">Providing Skillful Services</p>
      </div>
      <div class="feature">
        <img
          style="height: 50px; width: auto"
          src="assets\images\icons\help.png"
        />
        <p style="color: #444444">24/7 Support For Clients</p>
      </div>
    </div>

    <div class="actions">
      <button class="btn-info">More Information</button>
      <div class="call-box">
        <span style="font-size: 28px"><i class="fa-solid fa-headset"></i></span>
        <div>
          <p>Call Us Any Time</p>
          <strong>+91 776 077 2043</strong>
        </div>
      </div>
    </div>
  </div>
</section>
