a {
  text-decoration: none;
}

  @keyframes slideInFadeIn {
        0% {
          opacity: 0;
          transform: translateY(-50%) translateX(-30px);
        }
        100% {
          opacity: 1;
          transform: translateY(-50%) translateX(0);
        }
      }