<app-header></app-header
><!-- inner pages head -->
<div class="head-section rg-bg-5">
  <div class="container">
    <div class="row vcenter justify-content-between">
      <div class="col-lg-5">
        <div class="headconent paragraph">
          <div class="col-lg-12 mt60">
            <h1 class="cd-headline clip">
              <span class="cd-words-wrapper">
                <b class="is-visible">Cloud Infrastructure</b>
              </span>
            </h1>
          </div>
          <h2>
            High performance Cloud Infrastructure for businesses and IT
            professionals
          </h2>
          <h5 class="mt20">
            Cloud Servers, Storage, Virtual Machines, and more—fully managed and
            scalable.
          </h5>
          <p class="mt20">
            Sysnut Technologies understands that uptime is crucial; that's why
            our cloud infrastructure is maintained with the highest reliability
            and performance. We regularly monitor and upgrade our systems to
            meet evolving demands.
          </p>
          <p></p>
          <a href="#" class="r-g-btn r-g-btn-1 mt30">GET CLOUD SERVICE</a>
        </div>
      </div>
      <div class="col-lg-6 mmt40">
        <div class="single-image big-hero-img index-up">
          <img
            src="assets/images/hero/cloud_bg.png"
            alt="img"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- inner pages end -->

<!-- brands -->
<div class="brands-sets">
  <div class="container">
    <div class="row mt60">
      <div class="col-md-12">
        <div class="logo---set owl-carousel">
          <div class="logo--inner-div">
            <img src="assets/images/brands/logo-1.png" alt="img" />
          </div>
          <div class="logo--inner-div">
            <img src="assets/images/brands/logo-2.png" alt="img" />
          </div>
          <div class="logo--inner-div">
            <img src="assets/images/brands/logo-3.png" alt="img" />
          </div>
          <div class="logo--inner-div">
            <img src="assets/images/brands/logo-4.png" alt="img" />
          </div>
          <div class="logo--inner-div">
            <img src="assets/images/brands/logo-5.png" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // -->

<!-- block -->

<!-- // -->

<!-- block -->
<section class="sec-pad">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-5 col-lg-6 paragraph">
        <h2>
          Cloud services offer flexibility, scalability, and security, helping
          businesses meet their IT demands efficiently.
        </h2>
        <ul class="ullist check mt30">
          <li>Up-to-date Infrastructure.</li>
          <li>Flexible Subscription Plans.</li>
          <li>Rapid Scaling.</li>
          <li>Tax Benefits.</li>
        </ul>
      </div>
      <div class="col-lg-6 mmt40">
        <div class="single-image roundimg shadow">
          <img
            src="assets/images/hero/Cloud-Illustration.png"
            alt="img"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // -->

<!-- block -->

<!-- // -->

<!-- cta skew -->
<section class="cta-sw-skew">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ctapairskew">
          <div class="ctapair-skew">
            <div class="skew-sw-half rg-bg-3 skew-sw-left"></div>
            <div class="skew-sw-div rg-bg-3"></div>
            <div class="ctapaircontent">
              <h3 class="mb15 text-white">
                Need Scalable Cloud Infrastructure?
              </h3>
              <a href="contactus.html" class="r-g-btn r-g-btn-3 mt30"
                >Contact US
              </a>
            </div>
          </div>
          <div class="ctapair-skew">
            <div class="skew-sw-half rg-bg-5 skew-sw-right"></div>
            <div class="skew-sw-div rg-bg-5"></div>
            <div class="ctapaircontent">
              <h3 class="mb15">Looking for a Reliable Cloud Partner?</h3>
              <a href="contactus.html" class="r-g-btn r-g-btn-1 mt30"
                >Talk to the Expert
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cta skew -->

<!-- FAQ -->
<section class="sec-pad">
  <div class="container">
    <div class="row v-center justify-content-center">
      <div class="col-lg-12 mmt40">
        <span class="subtitleheading">Have a Doubt?</span>
        <h2>Frequently Asked Questions</h2>
        <div class="sw-faq mt60">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading1">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-sw-1"
                  aria-expanded="true"
                  aria-controls="faq-sw-1"
                >
                  What is the pricing for Cloud Infrastructure?
                </button>
              </h2>
              <div
                id="faq-sw-1"
                class="accordion-collapse collapse show"
                aria-labelledby="heading1"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Pricing depends on resources, usage duration, and service tier
                  selected.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading2">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-sw-2"
                  aria-expanded="false"
                  aria-controls="faq-sw-2"
                >
                  What documentation is required to subscribe?
                </button>
              </h2>
              <div
                id="faq-sw-2"
                class="accordion-collapse collapse"
                aria-labelledby="heading2"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  1) Signed cloud service agreement. &nbsp; 2) Company ID &
                  proof. &nbsp; 3) Advance payment & authorization. &nbsp; 4)
                  KYC compliance.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-sw-3"
                  aria-expanded="false"
                  aria-controls="faq-sw-3"
                >
                  How soon will I get access to cloud resources?
                </button>
              </h2>
              <div
                id="faq-sw-3"
                class="accordion-collapse collapse"
                aria-labelledby="heading3"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Within 24–48 hours after payment and KYC completion.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading4">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-sw-4"
                  aria-expanded="false"
                  aria-controls="faq-sw-4"
                >
                  How do I request support or resource upgrades?
                </button>
              </h2>
              <div
                id="faq-sw-4"
                class="accordion-collapse collapse"
                aria-labelledby="heading4"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Reach out to our support team through phone or email to
                  request upgrades or raise issues.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // -->
<app-footer></app-footer>